body, html {
	font-family:'Century Gothic','Futura','Didact Gothic', san-serif;
	font-size: 30px;
	color: black;
	margin: 0;
}
h1, p {
	margin: auto;
}
.banner-image {
	background: url("image.jpg");
	height: 150px;
	background-position: center;
	background-size: cover;
	position: relative;
}
.banner-text {
	text-align: left;
	position: absolute;
	top: 50%;
	transform: translate(70px, -50%);
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
h2 {color: blue;
	text-align: left;
	font-size: 28px;
}
p, li {color: black;
	font-size: 14px;
}
#para2 {color: blue;
	font-size: 14px;
	float: left;
	padding: 1%;
	width: 48%;
	text-align: right;
}
#para3 {color: black;
	font-size: 14px;
	float: left;
	padding: 1%;
	width: 48%;
	text-align: left;
}
#para4 {color: black;
	font-size: 14px;
	float: left;
	padding: 1%;
	width: 48%;
	height: 40px;
	text-align: left;
}
img {display: block;
	margin-left: auto;
	margin-right: auto;
}
.div1 {float: left;
	width: 29%;
	padding: 2%;
	text-align: center;
	background-color: white;
}
.div2 {float: left;
	width: 30%;
	padding: 2%;
	text-align: justify;
	background-color: white;
}
.div3 {float: left;
	width: 29%;
	padding: 2%;
	text-align: justify;
	background-color: white;
}
